* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header.contact-header {
  background-color: #1d4ed8;
  color: white;
  text-align: center;
  padding: 15px 10px; 
  position: sticky;
  top: 0;
}

header.contact-header h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

header.contact-header p {
  font-size: 19px;
  color: #e2e8f0;
  line-height: 1.3;
  margin: 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 30px auto;
  gap: 25px; 
  padding: 0 15px; 
}

.contact-info,
form {
  flex: 1 1 350px;
  min-width: 300px;
  background: #f5f5f5;
  padding: 25px; 
  border-radius: 8px;
}

.contact-info h2,
form h2 {
  color: #1d4ed8;
  font-size: 20px;
  margin-bottom: 15px; 
}

.contact-info p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info .highlight {
  color: #e63946;
  font-weight: 600;
}

form label {
  font-size: 14px; 
  margin-bottom: 6px; 
  display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 12px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 6px; 
  font-size: 14px; 
}

form textarea {
  min-height: 120px; 
  resize: vertical;
}

form button {
  background-color: #1d4ed8;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #e63946;
}


 footer {
    background-color: #0a0c0f;
    color: #e2e8f0;
    margin-top: 48px;
    padding: 32px 0;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 32px;
  }

  footer .column {
    flex: 1;
    min-width: 220px;
  }

  footer .column h3 {
    color: #38bdf8;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 600;
  }

  footer .column p {
    margin-bottom: 8px;
    line-height: 1.6;
    color: #cbd5e1;
  }



footer .column a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 15px;
}

footer .column a:hover {
  color: #e63946;
}

