  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  header {
    background: #1d4ed8;
    color: #fff;
    text-align: center;
    padding: 40px 16px;
  }

  header h1 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  header p {
    font-size: 16px;
    color: #e2e8f0;
  }

  .helplines {
    background: #f8fafc;
    padding: 48px 24px;
  }

  .helplines .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    width: 800px;
    margin: 0 auto;
  }

  .card {
    background: #fff;
    cursor: pointer;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  .card h3 {
    color: #1d4ed8;
    margin-bottom: 8px;
    font-size: 19px;
  }

  .card p {
    color: #475569;
    font-size: 16px;
  }

  footer {
    background-color: #0a0c0f;
    color: #e2e8f0;
    margin-top: 48px;
    padding: 32px 0;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 32px;
  }

  footer .column {
    flex: 1;
    min-width: 220px;
  }

  footer .column h3 {
    color: #38bdf8;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 600;
  }

  footer .column p {
    margin-bottom: 8px;
    line-height: 1.6;
    color: #cbd5e1;
  }



footer .column a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 15px;
}

footer .column a:hover {
  color: #e63946;
}

