* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #1d4ed8;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  text-align: center;
}

nav h2 {
  font-size: 28px;
  margin-bottom:8px;
}
nav p {
  font-size: 16px;
  max-width: 600px;
  line-height: 1.5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

.container {
  background: #fff;
  margin: 60px auto;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: #1d4ed8;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #475569;
  margin-bottom: 24px;
}

form label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 15px;
}

button {
  width: 100%;
  background-color: #1d4ed8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2563eb;
}


footer {
  background-color: #0a0c0f;
  color: #e2e8f0;
  padding: 50px 40px;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

footer .column {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}

footer .column h3 {
  color: #38bdf8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

footer .column p {
  margin-bottom: 8px;
  line-height: 1.6;
  color: #cbd5e1;
}

footer .column a {
  display: block;
  color: #e2e8f0;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 15px;
  transition: color 0.3s;
  font-weight: 400;
}

footer .column a:hover {
  color: #38bdf8;
}


