* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #0f172a;
}

.member-container {
  margin-top: 20px;
  background: #ffffff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 340px;
  text-align: left;
}

.member-container h2 {
  text-align: center;
  color: #1d4ed8;
  margin-bottom: 19px;
}

.member-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.member-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.gender-group label {
  font-weight: 400;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: #1d4ed8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2563eb;
}

footer {
  margin-top: 19px;
  background-color: #0a0c0f;
  color: #e2e8f0;
  padding: 50px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 40px;
  margin: 0 auto;
}

footer .column {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}

footer .column h3 {
  color: #38bdf8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

footer .column p {
  margin-bottom: 8px;
  line-height: 1.6;
  color: #cbd5e1;
}

footer .column a {
  color: #38bdf8;
  font-weight: 600;
}

footer .column a:hover {
  color: #60a5fa;
}

a {
  text-decoration: none;
}

footer .column a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 15px;
}

footer .column a:hover {
  color: #e63946;
}

